<!DOCTYPE html>
{% load static %} {% block content %} {% load static tailwind_tags %}
{%tailwind_css %}
<header
  class="bg-cover bg-center flex items-center justify-center text-center text-white relative pt-16"
  style="
    background-image: url('{% static 'image.webp' %}');
    background-blend-mode: overlay;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-height: 80%;
  "
>
  <div class="bg-black bg-opacity-50 p-8 rounded-md max-w-2xl">
    <h1 class="text-4xl md:text-6xl font-bold mb-4">Welcome to Our Website</h1>
    <p class="text-lg md:text-2xl">Your tagline goes here</p>
  </div>
</header>
{% endblock %}
